<div id="container">
    <div class="auth-container">
      <h2>Inicio de Sesión</h2>
    
      <form [formGroup]="loginForm" class="form">
        <div>
          <label class="form-child-label">Nombre de usuario</label>
          <input formControlName="name" type="text" class="form-control" />
        </div>
    
        <div>
          <label class="form-child-label">Contraseña</label>
          <input formControlName="password" type="password" class="form-control" />
        </div>

        <button class="form-child" (click)="onSubmit()">Iniciar sesión</button>
      </form>
    </div>
    
</div>