#section-home {
    width: 99%;
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
}

#cards {
    width: 100%;
    min-height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4px;
}